/*********** PORTFOLIO ***********/

#portfolio {
	@extend %clearfix;

	& h2 {
		@extend %capitalize;
	}
}

.portfolio-image {
	width: 100%;
	margin-bottom: .5em;
}

.portfolio-subheading {
	font-size: $font-size-portfolio;
	margin-bottom: .9em;

	@media #{$brk-medium} {
		font-size: $font-size-portfolio-wide;
		margin-bottom: .3em;
	}
}

.portfolio-entry {
	margin-bottom: 2.5em;

	@media #{$brk-medium} {
		float: left;
		width: 50%;
		padding-left: .8em;
	}

	@media #{$brk-wide} {
		width: 33.3%;
	}

	& p {

		@media #{$brk-medium} {
			width: 80%;
			margin: 0 auto;
			min-height: 60px;
		}
	}
}

.portfolio-entry:last-child {
	margin-bottom: 1em;
}
